package pages

import "github.com/andrei0427/lifeofmarrow/view/layout"

templ Recipe() {
	@layout.Base(layout.SEOInfo{
		Title:       "Recipe",
		Url:         "/recipe",
		IsHome:      false,
		Description: "Some recipe",
	}) {
		<h2 class="sr-only">Filters</h2>
		<div class="border-b border-gray-200 bg-white pb-4">
			<div class="mx-auto flex max-w-7xl items-center justify-between px-4 sm:px-6 lg:px-8"></div>
		</div>
	}
}
